*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(75,108,89);
    background: linear-gradient(90deg, rgba(75,108,89,1) 5%, rgba(57,95,88,1) 26%, rgba(45,86,87,1) 61%, rgba(26,72,85,1) 78%);
}
.nav-bar{
    justify-content: center;
    width: 100%;
    height: 100px;
    /* gap: 52px; */
    position: relative;
    /* justify-content: space-between; */
    display: flex;
    /* justify-content: space-between; */
    gap: 50%;
    /* text-align: center; */
    top: 0%;
}

#logo{
    position: relative;
    top: 19%;
    height: 74px;
    width: 136px;
}
.nav-bar li {
    position: relative;
    top: 50%;
    transform: translate(-50%);
    list-style: none;
    left: 72px;
    /* flex-wrap: nowrap; */
}

.nav-bar img:hover{
    
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.nav-bar a{
    line-height: 10px;
    display: inline;
    margin-left: 39px;
}
.textos{ 
    bottom: 24px; 
    justify-content: space-between;
    margin-left: 11%;
    color: white;
    margin-top: 5%;
    position: relative;
    display: flex;
    gap: 27px;
    /* flex-wrap: wrap; */

}
.textos h3{
    /* color: white; */
    line-height: 50px;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif; 
}
.textos h1{
        line-height: 85px;
    width: 100%;
    font-size: 79px;
    /* color: white; */
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.textos p{
    /* color: ; */
    font-weight: 300;
    width: 483px;
    font-size: 19px;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
.botao{
    margin-top: 5%;
    gap: 75px;
    /* justify-content: center; */
    display: flex;
    text-align: center;
}

.botao button{
    cursor: pointer;
    height: 50px;
    width: 225px;
    
    border: 4px solid #658e76;
    color: #100f0f;
    padding: 16px 40px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    transform: skew(-24deg);
}
/* .botao #btn1{
    background-color: #658E76 !important;
} */
#btn2{ 
    background-color: transparent;
}
#btn2:hover{ 
    background-color: #658e76;
}
#btn1{
    background-color: #658e76;
}
#btn1:hover{
    background-color: transparent;
}
.botao button p{
    margin-top: -9px;
    color: white;
    margin-left: -15px;
    width: 165px;
    font-family: 'Poppins', sans-serif;
    transform: skew(25deg);
    font-weight: 300;
}

.img img{
    
    cursor: pointer;
    width: 531px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 


.ll{
    display: flex;
    justify-content: center;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}
@media screen and (max-width: 928px){
    #logo{top: 8%;
        width: 110px;
        height: 58px;
    }
    .nav-bar{
        width: 95%;
        top: 0;
        gap: 44%;
        margin-left: 5%;
    }
    .nav-bar li a img{
        display: inline;
        width: 20px;
    }
    .nav-bar li{
        top: 41%;
        display: flex;
        right: 30px;
    }
    .textos{
        
        margin-top: 12%;
        gap: 5%;
        flex-wrap: unset;
    }
    /* .textos{
        margin-top: 50%;
        right: 5%;
        margin-right: 50px;
    } */
    .textos h1{
        line-height: 10px;
        line-height: 60px;
        font-size: 55px;
        width: 106%;
        
    }
    .textos h3{
        font-size: 15px
    }
    .textos p{
        width: 80%;
        font-size: 10px;
    }
    .img img{
        justify-content: center;
        width: 328px;
    }
    #btn2{
        display: none;
    }
    .botao button{
        height: 10px;
    }
}
@media screen and (max-width: 650px){
    #logo{top: 8%;
        width: 110px;
        height: 58px;
    }
    .nav-bar{
        width: 95%;
        top: 0;
        gap: 19%;
        margin-left: 5%;
    }
    .nav-bar li a img{
        display: inline;
        width: 20px;
    }
    .nav-bar li{
        top: 41%;
        display: flex;
        right: 30px;
    }
    .textos{
        
        margin-top: 0%;
        gap: 0%;
        flex-wrap: wrap-reverse;
    }
    /* .textos{
        margin-top: 50%;
        right: 5%;
        margin-right: 50px;
    } */
    .textos h1{
        line-height: 60px;
        font-size: 60px;
    }
    .textos h3{
        font-size: 20px;
        font-weight:600;
    }
    .textos p{
        width: 80%;
        font-size: 11px;
    }
    .img{
        top: 2px;
    }
    .img img{
        justify-content: center;
        width: 317px;
    }
    #btn2{
        display: none;
    }
    .botao button{
        height: 10px;
    }
}


