*{
    margin: 0;
    padding: 0;
}
.nav-img{
    background-color: #F7FAFC;
    justify-content: left;
    position: absolute;
    width: 50%;
    height: 100%;
}
.nav-img img{
    
    margin-top: 29%;
    margin-left: 25%;
    position: relative;
    height: 330px;
    width: 386px;
}
.login{
    position: relative;
    width: 50%;
    height: 100%;
    left: 50%;
    display: flex;
    justify-content: center;
}
.elementos{
    width: 330px;
    height: 100%;
    gap: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    /* left: 25%; */
    flex-direction: column;
    margin-top: 22%;
}
.elementos h3{
    font-family: 'Merriweather', serif;
    font-size: 15px;
}
.elementos p{
    font-family: 'Merriweather', serif;

}
.elementos h1{
    font-family: 'Merriweather', serif;
    font-size: 27px;
    margin-bottom: 30px;
}

.elementos input{
    padding: 3px;
    padding-left: 20px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E8E8E8;
    outline: none;
    
}

.elementos img{
    right: 22px;
    position: relative;
    /* all: unset; */
    cursor: pointer;
    /* outline: revert; */
    width: 21px;

}
.link{
    display:flex;
    justify-content: left;
    gap: 10px;
}
.link a{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-decoration: none;
}
#p{
    margin-right: 62px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.link input{
    cursor: pointer;
    margin-top: 2px;
    height: 17px;
}
.elementos button{
    cursor: pointer;
    height: 32px;
    border-radius: 3px;
    border: none;
}
#botao1{
    color: white;
    background-color: #04C35C;
}
#botao2{
    background-color: #1A202C;
    color: white;
}
#botao1:hover{
    background-color: #24e77e;
}

.button{
    padding: 1px;
    background-color: #1A202C;
    border-radius: 11px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    /* top: 87px; */
    width: 885px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    height: 32px;
    border-radius: 3px;
    border: none;
}
.cadastro{
    position: relative;
    gap: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 0;

}
.cadastro h3{
    font-family: 'Lato', sans-serif;
}
.cadastro a{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 900px) {
    .nav-img{
        display: none;
    }  
    .elementos{
        width: 340px;
        transform: translate(-50%);
        left: 0%;
        justify-content: center;
    }
}

